/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/nbproject/
/data/projects/*
!data/projects/.gitkeep
/data/tmp/analyzer/*
!data/tmp/analyzer/.gitkeep
/data/tmp/analyzer_phpmd/*
!data/tmp/analyzer_phpmd/.gitkeep
/web/compiled/*
!web/compiled/.gitkeep