/**
 * The styles corresponding to the register page.
 */

.register-block {
    width: 40%;
    margin: 20px auto 10px;
}
.register-block .register-block-title .logo {
    background-image: url('../../images/terminal-icon_40.png');
    background-size: cover;
    height: 40px;
    width: 40px;
}
.register-block .register-block-content {
    padding: 40px;
    padding-bottom: 20px;
}

.register-block .register-block-content form .terms-and-conditions-container {
    margin: 20px 0 30px;
}
.register-block .register-block-content form .terms-and-conditions-container .form-group {
    margin-bottom: 0;
}
